input[type=checkbox].form-checkbox {
    width: 22px;
    height: 22px;
    border: 3px solid $light_blue;
    background-color: #10161a;
    margin-right: 5px;
}

.filters {
    padding: 1em;
    border-radius: 1em;
    h3 {
        color: $light_blue;
        font-size: 1rem;
        text-transform: uppercase;
    }
}

.data-filter {
    display: block;
    .data-label {
        display: inline-block;
        vertical-align: middle;
        margin-top: -15px;
    }
}

#profile_logos {
    div {
        a {}
    }
}

.accordion-drawer {
    overflow-y: auto;
    max-height: 350px;
}

#directory-filters {
    h4 {
        color: $light_blue;
        padding-top: .5em;
        text-align: center;
    }
}

.profile-button {
    clear: right;
    display: table-cell;
    position: relative;
}

.active-filters {
    /*background-color: #eee;
    position: absolute;
    width: 100%;
    border: 1px solid #333;
    top: 0;
    left: 0;
    visibility: hidden;
    */
    span {
        font-size: 8pt;
        display: block;
    }
    ul {
        li {
            font-size: 8pt;
        }
    }
}

.filter-type {
    text-decoration: underline;
}

.active-filters:hover {
    visibility: visible;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.display-flex>[class*='col-'] {
    display: flex;
    flex-direction: column;
}