.hardware-item{
    h4{
        background: #eee;
        text-align: center;
    }
    ul{
        padding-left:5px !important;
        li{
            font-size:90%;
            list-style: none;
        }
    }
}
.breadcrumb span{
    margin-right:5px;
}