.video-wrap {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin-bottom: 10px;
    iframe {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

#conference-playlist {
    position: relative;
    z-index: 100;
    @media(min-width: 1281px) {
        .panel-heading {
            padding: 1em 1em 2.5em;
        }
    }
    @media(min-width: 768px) and(max-width: 1280px) {}
    @media(max-width: 767px) {
        top: 10%;
        .panel-title {
            font-size: 3vw;
            img {
                width: 25%;
                max-width: 150px;
                margin-right: 10px;
            }
        }
        .panel-speakers {
            font-size: 3vw;
            line-height: 120%;
        }
        .panel-heading {
            padding: 3px;
            clear: both;
            height: 0px;
            padding: 1% 3px 15% 3px;
        }
        .panel-heading a:after {
            content: "";
        }
        .panel {
            border: 0px;
            background: transparent;
        }
    }
}

#bg-video video {
    width: 100vw;
    margin-top: 50px;
}